.producto__eliminar:hover{
  color: red;
  cursor: pointer;
}
img{
  width: 30px;
}




.modalGatillo{
  background-color: red;

}


.btn1{
  text-decoration: none;
  border: 1px solid #696bf0;
  border-radius: 15px;
  padding: 15px;
  transition: 250ms;
}
a:hover{
  background: #696bf0;
  color: beige;

}





